<!DOCTYPE html>
<!--Name:Cody Register
    Assignment: CS336 Assignment #4
    Created:20201030
    Description: Awards Page for the conference site.     -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Regis,Conference,CS336">
    <meta name="description" content="Template page for the conference site">
    <meta name="author" content="Cody Register">
    <meta name="robots" content="nofollow">
    <link rel="stylesheet" href="css/webdefault.css">
    <title>Awards</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="activities.html">Activities</a></li>
            <li><a href="meals.html">Meals</a></li>
            <li><a href="keynote.html">Keynote Speakers</a></li>
            <li><a href="workshopschedule.html">Workshop Schedule</a></li>
            <li><a href="registration.html">Registration</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="center">
        <table class="borders">
            <tr>
                <th>Entry</th>
                <th>Title</th>
                <th>Artist</th>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/book1.jpg" alt="Book 1">
                    </figure>
                </td>
                <td>
                    <p>"Rebecca"</p>
                </td>
                <td>
                    <p>
                        Amy Kitcherside (UK)
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/book2.jpg" alt="Book 2">
                    </figure>
                </td>
                <td>
                    <p>"Blank Book"</p>
                </td>
                <td>
                    <p>
                        Sean Richards (USA)
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="images/book3.jpg" alt="Book 3">
                    </figure>
                </td>
                <td>
                    <p>"Untitled"</p>
                </td>
                <td>
                    <p>
                        Andrew Sims (UK)
                    </p>
                </td>
            </tr>
        </table>
        <div class="center">

            <h2><a href="poll.html">Vote Now!</a></h2></div>
    </div>

</main>
<footer>
    <address>
        <small> Denver Paper & Ink Arts Convention</small>
        <small> P.O. Box -1, 700 N Colorado Blvd Denver, CO 80206</small>
        <small> 555-867-5309 </small>
        <small> contact@denpiarts.com</small>
        <p>While this web site was created to satisfy the requirement of building a web site for an academic course at
            Regis
            University, the views and opinions expressed on this web site are solely those of the original author and do
            not
            necessarily represent the views and opinions of Regis University. </p>
    </address>
</footer>
</body>
</html>