<!DOCTYPE html>
<!--Name:Cody Register
    Assignment: CS336 Assignment #4
    Created:20201030
    Description: Meal Page for the conference site.     -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Regis,Conference,CS336">
    <meta name="description" content="Template page for the conference site">
    <meta name="author" content="Cody Register">
    <meta name="robots" content="nofollow">
    <link rel="stylesheet" href="css/webdefault.css">
    <title>Meals</title>

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="activities.html">Activities</a></li>
            <li><a href="meals.html">Meals</a></li>
            <li><a href="keynote.html">Keynote Speakers</a></li>
            <li><a href="workshopschedule.html">Workshop Schedule</a></li>
            <li><a href="registration.html">Registration</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="d50">
        <img src="images/menu1.jpg" alt="Menu 1">
        <h2>Menu Day 1</h2>
        <p>Breakfast</p>
        <p>Rolls, Fruit, Coffee</p>
        <p>Lunch</p>
        <p>Sandwiches, Tea, Water</p>
        <p>Dinner</p>
        <p>Steak, Salad, Wine</p>

    </div>
    <div class="d50">
        <img src="images/menu2.jpg" alt="Menu 2">
        <h2>Menu Day 2</h2>
        <p>Breakfast</p>
        <p>Rolls, Fruit, Coffee</p>
        <p>Lunch</p>
        <p>Sandwiches, Tea, Water</p>
        <p>Dinner</p>
        <p>Fish, Salad, Wine</p>

    </div>
    <div class="center">
        <p>Full Meal Package: $225 (includes Dinner on Day 2)</p>
        <p>Standalone Dinner Day 2: $75</p>
    </div>
</main>
<footer>
    <address>
        <small> Denver Paper & Ink Arts Convention</small>
        <small> P.O. Box -1, 700 N Colorado Blvd Denver, CO 80206</small>
        <small> 555-867-5309 </small>
        <small> contact@denpiarts.com</small>
        <p>While this web site was created to satisfy the requirement of building a web site for an academic course at
            Regis
            University, the views and opinions expressed on this web site are solely those of the original author and do
            not
            necessarily represent the views and opinions of Regis University. </p>
    </address>
</footer>
</body>
</html>