<!DOCTYPE html>
<!--Name:Cody Register
    Assignment: CS336 Assignment #4
    Created:20201030
    Description: Schedule Page for the conference site.     -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Regis,Conference,CS336">
    <meta name="description" content="Template page for the conference site">
    <meta name="author" content="Cody Register">
    <meta name="robots" content="nofollow">
    <link rel="stylesheet" href="css/webdefault.css">
    <title>Workshop Schedules</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="activities.html">Activities</a></li>
            <li><a href="meals.html">Meals</a></li>
            <li><a href="keynote.html">Keynote Speakers</a></li>
            <li><a href="workshopschedule.html">Workshop Schedule</a></li>
            <li><a href="registration.html">Registration</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <table>
            <tr>
                <th>Day</th>
                <th>Session</th>
                <th>Workshop Title</th>
                <th>Speaker</th>
                <th>Room</th>
                <th>Time</th>
            </tr>
            <tr>
                <td colspan="6">Day 1</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Pointed Pen Calligraphy: Copperplate</td>
                <td>Francesca Leigh</td>
                <td>6</td>
                <td>0900 - 1200</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Bookbinding: The Coptic Stitch</td>
                <td>Akaash Alfaro</td>
                <td>15</td>
                <td>0900 - 1200</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>The Illuminated Manuscript</td>
                <td>Rojin Rhodes</td>
                <td>4</td>
                <td>0930-1230</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 2</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>The Many Faces of Italic Calligraphy</td>
                <td>Francesca Leigh</td>
                <td>6</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Broad Edge Calligraphy: Blackletter</td>
                <td>Rojin Rhodes</td>
                <td>7</td>
                <td>1330 - 1630</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>The History of Paper Marbling Techniques</td>
                <td>Akaash Alfaro</td>
                <td>13</td>
                <td>1230 - 1530</td>
            </tr>
            <tr>
                <td colspan="6">Day 2</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Homemade Calligraphy Inks: Walnut and Iron Gall</td>
                <td>Francesca Leigh</td>
                <td>13</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Historical Islamic Bookbinding</td>
                <td>Akaash Alfaro</td>
                <td>10</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Pointed Pen Techniques: Flourishing</td>
                <td>Rojin Rhodes</td>
                <td>4</td>
                <td>1300 - 1530</td>
            </tr>
        </table>
    </div>

</main>
<footer>
    <address>
        <small> Denver Paper & Ink Arts Convention</small>
        <small> P.O. Box -1, 700 N Colorado Blvd Denver, CO 80206</small>
        <small> 555-867-5309 </small>
        <small> contact@denpiarts.com</small>
        <p>While this web site was created to satisfy the requirement of building a web site for an academic course at
            Regis
            University, the views and opinions expressed on this web site are solely those of the original author and do
            not
            necessarily represent the views and opinions of Regis University. </p>
    </address>
</footer>
</body>
</html>